.contenedor {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Agregado un valor de sombra más sutil */
    width: 60%;
    height: 500px;
    margin: auto; /* Centra el contenedor horizontalmente */
    background-color: #afafaf; /* Cambiado a un color blanco */
    padding: 20px; /* Agregado un relleno para separar el contenido del borde */
    border-radius: 15px; /* Añadido un radio de borde para esquinas redondeadas */
    text-align: center; /* Centra el contenido dentro del contenedor */
    margin-top: 10%;
}

#menuDesplegable {
    display: none;
    position: absolute;
    right: 10%; 
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 9%;
    margin-left: 91%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#menuDesplegable ul {
    list-style-type: none;
    padding: 0;
}

#menuDesplegable li {
    margin: 5px 0;
}

#menuDesplegable a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px;
}

#menuDesplegable a:hover {
    background-color: #007bff; 
    color: #fff;
}
    
